.home .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

/*******************************************************************************
 *                                                                             *
 * Status server                                                               *
 *                                                                             *
 ******************************************************************************/

.status-server {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    width: 25rem;
    height: 3rem;
    color: var(--color);
    border-radius: 10px;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}

.server-status-icon {
    height: 3.3rem;
    border-radius: 10px;
}

.server-status-name {
    font-size: 1.5rem;
    color: var(--color);
}

.server-status-text {
    font-size: 0.6rem;
    color: #1AC707;
}

.server-status-infos .red {
    color: #FF0409;
}

.status-player-count {
    background: var(--shadow);
    min-width: 3rem;
    height: 3rem;
    border-radius: 10px;
}

.player-count {
    font-size: 1.5rem;
    margin: 0.4rem 0.5rem;
}

.status-player-count:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    border: solid 5px var(--background);
    background: #1AC707;
}

.red:after {
    background: #FF0409;
}

.home-bottom {
    position: relative;
    width: 100%;
    height: calc(100% - 80px - 8rem);
    display: flex;
}

/*******************************************************************************
 *                                                                             *
 * news server                                                                 *
 *                                                                             *
 ******************************************************************************/

.new-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
}

.titre-tab-new {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--background-transparent);
    color: var(--color);
}

.news-list {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin: 1rem 0;
}

.news-block {
    width: 100%;
    margin: 0 0 1rem 0;
    border-radius: 10px;
    background: var(--background-transparent);
}

.news-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.header-text .title {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1.2rem;
    text-align: center;
}

.news-header .date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content .bbWrapper {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;

}

.news-content .bbWrapper p {
    font-weight: 100;
    margin: 0;

}

.news-content .bbWrapper .news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-content .bbWrapper .news-author span {
    font-weight: 700;
}

/*******************************************************************************
 *                                                                             *
 * social server                                                               *
 *                                                                             *
 ******************************************************************************/

.social-tab {
    position: absolute;
    display: flex;
    bottom: 100;
    right: 0;
    width: 15%;
    height: calc(86% - 1rem);
    justify-content: center;
    margin-bottom: 1rem;
}

.social-list {
    border-radius: 10px;
    height: 100%;
}

.social-block {
    display: flex;
    background: var(--background-transparent);
    width: 90px;
    height: 90px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, box-shadow 0.4s;
}

.social-block .icon-social {
    pointer-events: none;
    background-repeat: no-repeat;
    height: 55%;
    width: 55%;
    filter: var(--svg-color);
}

.social-block:hover {
    filter: contrast(130%) saturate(130%) brightness(130%);
    box-shadow: 0 0 1px 1px var(--element-color);
}
.social-block:active {
    transform: scale(0.95);
}


/*******************************************************************************
 *                                                                             *
 * sidebar                                                                     *
 *                                                                             *
 ******************************************************************************/

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--background-transparent);
}

.player-options {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border-radius: 15px;
    height: 3rem;
    margin: 0 1.5rem;
}

.player-head {
    background: url('../../images/default/setve.png'), no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    transition: var(--transition);
    height: 3rem;
    width: 3rem;
    border-radius: 15px;
}


.play-elements {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.play-instance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: solid 3px var(--element-color);
    border-radius: 15px;
    height: 3.2rem;
    padding-right: 1.9rem;
}

.aura {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 255, 255, 0.5);
    border-radius: 10px; 
    transform: translate(-50%, -50%) scale(0); 
    transition: transform 0.3s ease;
    z-index: -1;
}

.play-btn {
    border: none;
    border-radius: 10px;
    background: none;
    color: var(--color);
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 1.5rem;
    pointer-events: auto;
    transition: padding 0.5s ease, color 0.4s ease;
}

.play-btn:hover {
    padding: 0 2.5rem;
    color: #ffffff;
}
.play-btn:active { transform: scale(0.96); }

.play-instance:hover .aura {
    transform: translate(-50%, -50%) scale(1);
}


.instance-select {
    display: flex;
    align-items: center;
    position: absolute;
    right: -3;
    top: -2;
    color: var(--element-color);
    font-size: 1rem;
    height: calc(100% - 1px);
    border: solid 3px var(--element-color);
    text-align: center;
    border-radius: 15px;
    padding: 0 0.5rem;
    cursor: pointer;
}

.instance-select:before {
    transform: rotate(270deg);
    pointer-events: none;
}

.info-starting-game {
    display: none;
    text-align: center;
}

.progress-bar {
    appearance: none;
    height: 10px;
    margin: 0.5rem 0;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--background);
    border: solid 1px var(--element-color);
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: var(--element-color);
    border-radius: 10px;
}

.settings-btn {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: var(--element-color);
    margin: 0 1.5rem;
    transition: all 0.4s ease;
}

.settings-btn:hover {
    transform: scale(1.15);
}


.instance-popup {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #000000b3;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.instances-tab {
    position: relative;
    background: var(--background);
    border-radius: 10px;
    padding: 1rem 3rem;
}

.close-popup {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    background: var(--shadow);
    height: 30px;
    width: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.instances-tab p {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.instance-elements {
    background: var(--background-element);
    text-align: center;
    border-radius: 10px;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.instance-elements:hover {
    background: var(--element-color);
}

.active-instance {
    background: var(--element-color);
}


/*******************************************************************************
 *                                                                             *
 * Profile                                                                     *
 *                                                                             *
 ******************************************************************************/


.profile-menu div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profile-menu div ul {
    list-style: none;
}

.profile-menu div img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: -1rem;
}

.profile-menu div ul li {
    color: var(--element-color);
}

.profile-menu div ul li span {
    color: var(--color);
}

/* From Uiverse.io by portseif */ 
.logout-btn {
    background-color: #ee3f3fe1;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  
  .logout-btn:hover {
    background-color: #ff0000e1;
  }
  
  .logout-btn:focus {
    outline: 2px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
  }
  
  .logout-btn:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  

  /* From Uiverse.io by JaydipPrajapati1910 */ 
.profile-btn {
    color: white;
    background-color: #222;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    cursor: pointer;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
  }
  
  .profile-btn:hover {
    background-color: #333;
  }
  
  .profile-btn svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
  }
  
  .profile-btn:focus svg {
    animation: spin_357 0.5s linear;
  }
  
  @keyframes spin_357 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  