.global {
    --element-color: #9b4dff; /* Violet */
    --transition: all 0.5s cubic-bezier(0.7, 0.1, 0.3, 1);
    --dark-color: #471d50;
    --light-color: #ba24db;
}

.dark {
    --color: #e3f0e5; /* Violet clair pour le texte */
    --backdrop: blur(11px) brightness(84%);
    --backdrop-title: blur(12px) brightness(80%);
    --background: rgba(255, 255, 255, 0.1); /* Gris */
    --background-element: rgba(255, 255, 255, 0.1); /* Violet plus foncé pour ne pas se confondre avec le texte */
    --background-transparent: rgba(255, 255, 255, 0.1);
    --shadow: rgba(0, 0, 0, 0.5); /* Ombre gris plus subtile et transparente */
    --svg-color: saturate(100%) invert(20%) sepia(30%) saturate(500%) hue-rotate(210deg) brightness(200%) contrast(200%);
}







/* .light {
    --color: #2c2c2c;
    --background: rgb(245, 245, 245);
    --background-element: #c2c2c2;
    --background-transparent: rgba(204, 204, 204, 0.8);
    --shadow: rgba(208, 208, 208, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
} */
